
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<h1><%= @shopper.name %></h1>

<p>Email: <%= @shopper.email %></p>
<p>Address: <%= @shopper.address %></p>
<p>Telephone: <%= @shopper.telephone %></p>
