
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<div id="sign-in-create-container">
  <div id="sign-in-container">
    <form id="sign-in-form" action="/signin" method="post">
      <input class="sign-in-create-input-field" type="text" name="username" placeholder="Email"/><br>
      <input class="sign-in-create-input-field" type="password" name="password" placeholder="Password"/><br>
      <input class="sign-in-create-input-field sign-in-create-submit" id="sign-in-submit" type="submit" value="Sign in"/>
    </form>

    <br>
    <p id="sign-in-create-OR-text"> OR</p>
    <br>

    <form id="create-account-form">
      <a href="/shoppers/new">
        <input class="create-account-submit sign-in-create-submit sign-in-create-input-field" type="button" value="Create Shopper Account" /><br>
      </a>
      <a href="manufacturers/new">
        <input class="create-account-submit sign-in-create-submit sign-in-create-input-field" type="button" value="Become a Manufacturer" /><br>

      </a>

  </div>
  <div id="create-account-container">

  </div>
</div>
