// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {background-color: #f0f0f0;}

// Make field labels fancier
label {
   margin-right: 4vh;
   font-weight:bold;
}

// Add spacing around form groups
.form-group {
   margin-bottom: 2vh;
}

.alert {
  color: #eb3446
}

li {
  padding: 1vh;
}

a {
  color: #4d4d4d
}
