
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>
<h1>Products</h1>

Here are all of the products carried by the store:

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.product_name, product %>
    </li>
  <% end %>
</ul>
