<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.product_name, product %>
      <%# <a href="/products/<%= product.id %>">
        <%# <%= product.product_name %>  %>
      <%# </a> %> %>
    </li>
  <% end %>
</ul>