
<div class="good-shopping-banner-container">
  <div class="good-shopping-banner-logo"></div>
  <p class="good-shopping-banner-text">Good Shopping</p>
</div>

<h1><%= @manufacturer.name %></h1>


<p>Name: <% @manufacturer.name %> </p>
<p>Email: <%= @manufacturer.email %></p>
<p>Telephone: <%= @manufacturer.telephone %></p>
